<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Default</h1>
<hr>
<hr>
<table class="table">
    <thead>
    <tr>
        <th>No.</th>
        <th><a href="/paginate/account/sort/username">Username</a></th>
        <th><a href="/paginate/account/sort/fullname">Fullname</a></th>
        <th><a href="/paginate/account/sort/email">Email</a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, state : ${items}">
        <td th:text="${state.count}"></td>
        <td th:text="${item.username}">Tên đăng nhập</td>
        <td th:text="${item.fullname}">họ và tên</td>
        <td th:text="${item.email}">Địa chỉ email</td>
    </tr>
    </tbody>
</table>
</body>
</html>

