<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<i>[[${message}]]</i>
<form action="/account/register"
      method="post" enctype="multipart/form-data">
    <div>
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label>Password</label>
        <input type="text" name="password">
    </div>
    <div>
        <label>Fullname</label>
        <input type="text" name="fullname">
    </div>
    <div>
        <label>Photo</label>
        <input type="file" name="photo_file">
    </div>
    <div>
        <label>Age</label>
        <input type="text" name="age">
    </div>
    <div>
        <button>Sign Up</button>
    </div>
</form>
</body>
</html>

